:focus {outline: none;}
div{display:flex;justify-content: center;}
@keyframes fade-in{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes move-in {
    0% {opacity: 0;transform: translateY(200%);}
    50% {opacity: 1;}
    100% {opacity: 0.5;transform: translateY(0);}
}
@keyframes sign-in{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 0.3;}
}
#unsignin{
    position:absolute;
    top:50%;
    left:50%;
    padding:0 10px;
    transform:translateX(-50%) translateY(-50%);
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: gray;
    border-radius: 30px;
    opacity: 0.3;
    cursor: pointer;
    animation: sign-in 2s;
}

#basic_blk{
    position:absolute;
    height:100%;
    min-height:300px;
    min-width:300px;
    background-color:rgba(253, 200, 209,0.5);
    display: block;
}
@media screen and (max-width:700px) {
    #basic_blk {
        width:100%;
        margin:0 auto;
    }
}
@media screen and (min-width:701px) {
    #basic_blk{
        width:80%;
        margin:0px 10% 0px 10%;
    }
}
#main_strip{
    height:30px;
    width:98%;
    margin:0.25% 1%;
    border: 3px white solid;
    border-radius: 15px;
    justify-content: space-between;
}
#left_strip{
    height:100%;
    margin:0 0 0 1%;
    align-items:center;
    justify-content:flex-start;
}
#right_strip{
    height:100%;
    margin:0 1% 0 0;
    align-items:center;
    justify-content:flex-end;
}
#user_blk{
    height:calc(98.5% - 30px);
    width:98%;
    margin:0.25% 1%;
    border: 3px white solid;
    border-radius: 15px;
    display:none;
    flex-direction:column;
    justify-content: flex-start;
    animation: fade-in 2s;
}
#top_blk{
    height:40%;
    align-items:center;
}
#allicons{
    margin:0 1%;
    border:2px white solid;
    border-radius:30px;
    align-items:center;
}
#main_blk{
    height:calc(98.5% - 30px);
    width:100%;
    margin:0.25% 0;
}
#home_blk{
    height:100%;
    border: 3px white solid;
    border-radius: 15px;
}
@media screen and (min-width:701px) {
    #home_blk{
        width:79%;
        margin:0 0.5% 0 1%;
        display:block;
    }
}
@media screen and (max-width:700px) {
    #home_blk{
        width:98%;
        margin:0.25% 1%;
        display:none;
    }
}

#chat_blk{
    height:100%;
    border: 3px white solid;
    border-radius: 15px;
    display:none;
}
@media screen and (min-width:701px) {
    #chat_blk{
        width:79%;
        margin:0 0.5% 0 1%;
    }
}
@media screen and (max-width:700px) {
    #chat_blk{
        width:98%;
        margin:0.25% 1%;
    }
}

#object_blk{
    height:100%;
    border:3px white solid;
    border-radius: 15px;
    text-align:center;
    flex-direction:column;
    justify-content: flex-start;
}
#initialObj{
    position:absolute;
    height:calc(98.5% - 35px);
    font-family:'標楷體';
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
}
@media screen and (min-width:701px) {
    #object_blk{
        width:19%;
        margin:0 1% 0 0.5%;
    }
    #initialObj{
        width:calc(19% - 7px);
        font-size:1vw;;
    }
}
@media screen and (max-width:700px) {
    #object_blk{
        width:98%;
        margin:0.25% 1%;
    }
    #initialObj{
        width:calc(98% - 7px);
        font-size:5vw;
    }
}
#object_blk::-webkit-scrollbar {display:none}


#search_blk{
    height:100%;
    border:3px white solid;
    border-radius: 15px;
    display:none;
    flex-direction:column;
    justify-content: flex-start;
    overflow:auto;
}
@media screen and (min-width:701px) {
    #search_blk{
        width:19%;
        margin:0 1% 0 0.5%;
    }
}
@media screen and (max-width:700px) {
    #search_blk{
        width:98%;
        margin:0.25% 1%;
    }
}
        
.obj {
    height:75px;
    margin:1%;
    background-color:rgba(191, 194, 196, 0.7);
    border:2px white solid;
    border-radius: 30px;
    align-items:center;
    cursor:pointer;
    opacity:0.5;
    animation:move-in 0.5s;
    transition:opacity 0.5s ease-in-out, background-color 1s ease-in-out;
}
.obj:hover {
    background-color: rgba(191, 194, 196, 1);
    opacity: 1;
}
.obj_searched {
    max-width:50%;
    word-wrap:break-word;
    word-break:break-all;
    white-space:normal;
}

.InfoIcon {
    height:50%;
    margin:5% 0;
    padding:1%;
    background-color: white;
    border-radius: 100%;
    border:1px white solid;
}
.InfoIcon.example {
    height:100%;
    margin:0 1%;
    padding:1%;
    background-color: white;    
    border:1px white solid;
    border-radius: 100%;
}
.Icon {
    background-color: white;
    border:1px white solid;
    border-radius: 100%;
    align-self:flex-start;
}
.Icon.object {
    margin:0 2% 0 0;
    align-self:center;
}
.Icon.deliver {
    margin:5px 0 0 1%;
}
.Icon.receiver{
    margin:5px 1% 0 0;
}

#talkto {
    height:30px;
    width:100%;
    background-color:rgb(255, 177, 190);
    border-radius:15px 15px 0 0;
    align-items:center;
    justify-content:center;
    animation:fade-in 2s;
}
#chat_room {
    height:calc(100% - 60px);
    width:100%;
    flex-direction:column;
    justify-content:flex-start;
    animation:fade-in 2s;
    overflow-y:scroll;
}
.time {
    margin:0 5px 3px 5px;
    font-size:50%;
    font-style:italic;
    align-self:flex-end;
}
.Message {
    margin:5px 0;
    padding:3px 10px;
}
.Message.text{
    max-width:50%;
    background-color:white;
    border-radius: 15px;
    display:inline-block;
    word-wrap:break-word;
    word-break:break-all;
    white-space: pre-wrap;
}
.picture{
    margin:5px 0;
    display: block;
}
.deliver {
    margin-right: 15px;
    text-align: right;
    justify-content: flex-end;
}
.receiver {
    margin-left: 15px;
    text-align: left;
    justify-content: flex-start;
}
#upload::-webkit-file-upload-button {
    visibility: hidden;
}
#upload{
    height:25px;
    width:25px;
    margin:2.5px;
    background-image: url("../img/upload.png");
    background-position:center;
    background-repeat: no-repeat;
    background-color:transparent;
    align-self:center;
    cursor:pointer;
}
#send_blk{
    height:30px;
    background-color:rgb(255, 177, 190);
    border-radius:0 0 15px 15px;
    justify-content:center;
    animation: fade-in 2s;
}

input[type=text] {
    padding:2px 5px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    align-self:center;
}
span.info {
    margin:3px 0;
    font-size:2vw;
}