html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}

@keyframes animate1 {
  0% {height: 0%;width: 0%;background-color:rgb(241, 241, 241)}
  50% {height: 50%;width: 50%;background-color: rgba(137, 255, 137,0.5)}
  100%{height: 100%;width: 100%;background-color: rgb(241, 241, 241)}
}
@keyframes animate2 {
  0% {height: 0%;width: 0%;background-color:rgb(241, 241, 241)}
  50% {height: 50%;width: 50%;background-color: rgba(149, 229, 255,0.5)}
  100%{height: 100%;width: 100%;background-color: rgb(241, 241, 241)}
}
@keyframes animate3 {
  0% {height: 0%;width: 0%;background-color:rgb(241, 241, 241)}
  50% {height: 50%;width: 50%;background-color: rgba(255, 177, 190,0.5)}
  100%{height: 100%;width: 100%;background-color: rgb(241, 241, 241)}
}
@keyframes animate4 {
  0% {height: 0%;width: 0%;background-color:rgb(241, 241, 241)}
  50% {height: 50%;width: 50%;background-color: rgba(172, 172, 172,0.5)}
  100%{height: 100%;width: 100%;background-color: rgb(241, 241, 241)}
}
.animate_1{
  animation: animate1 1.25s;
}
.animate_2{
  animation: animate2 1.25s;
}
.animate_3{
  animation: animate3 1.25s;
}
.animate_4{
  animation: animate4 1.25s;
}
.animate {
  border-radius: 30px;
  position:absolute;
  z-index:-1;
}